@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply border-b-2 pb-1 mt-2 w-full text-start pl-2 hover:bg-[#ff5f2e] rounded-lg hover:text-white;
  }
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}